In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_colwidth', 80)

In [3]:
df = pd.read_csv('account_history.csv')
df.head(0)

Empty DataFrame
Columns: [Unnamed: 0, Date, Articles, Type, Total, Chgmt, Solde]
Index: []

In [4]:
df.Total[df.Total.str.contains('Crédité')] = '-' + df[df.Total.str.contains('Crédité')].Total
df.Total = df.Total.str.replace(' Crédité', '')
df.Total = df.Total.str.replace(',--',',00')
df.Total = df.Total.str.replace(',','.').str.replace('€','').astype(float)

df.Chgmt = df.Chgmt.str.replace(',--',',00')
df.Chgmt = df.Chgmt.str.replace(',','.').str.replace('€','').astype(float)
df.Solde = df.Solde.str.replace(',--',',00')
df.Solde = df.Solde.str.replace(',','.').str.replace('€','').astype(float)

In [5]:
# Total
df.Total.sum()

1713.0699999999997

In [6]:
# Counter-Strike: Global Offensive
df[df.Articles.str.contains('Counter-Strike: Global Offensive')].Total.sum()

503.51

In [7]:
# Ventes / Achat sur le marché
df[df.Type.str.contains('transactions sur le marché')].Total.sum() + df[df.Type.str.contains('Transaction sur le marché')].Total.sum()

-100.94999999999999

In [8]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_colwidth')